extends header

block content

    style(type="text/css").

        #div_analise{
            padding: 50px;
        }

        #lista_imagens_analise div{
            padding: 5px;
            border-bottom: 1px solid;
            margin-bottom:5px;
            overflow:auto;
        }

        #lista_imagens_analise img{
            width: 30%;
            height: 500px;
            float:left;
        }

        #lista_imagens_analise pre{
            width: 32%;
            height: 500px;
            float:left;
        }

    script(type="text/javascript").
  
        $(document).ready(function(){

            dadosAnalise = ''

            // Recupera lista de imagens
            var promiseListaImagens = $.ajax({
                url: 'lista_imagens',
                type: 'GET',

            })

            promiseListaImagens.then(function(imagens){

                // Recupera os dados da analise
                var promiseAnalise = $.ajax({
                    url: 'catossinho',
                    type: 'GET'
                })

                promiseAnalise.then(function(analise){

                    console.log(analise)

                    var html = ''

                    var arrTipoDoc = []
                    arrTipoDoc['c'] = 'comprovante'
                    arrTipoDoc['g'] = 'guia'
                    arrTipoDoc['p'] = 'petição'

                    imagens.forEach(function(imagem, indexImagem){

                        var imagemPath = 'get_image/'+imagem

                        html += '<div>'
                        html += '<img src="'+imagemPath+'" />'

                        // ### Percorre os dados de NLU ###
                        
                        var htmlDataNLU = ''

                        var tipoDoc = ''

                        console.log(indexImagem)
                        console.log(analise.dadosNLU[indexImagem])
                        console.log('===================================')

                        if(analise.dadosNLU[indexImagem] != undefined){

                            analise.dadosNLU[indexImagem].entities.forEach(function(entity, indexEntity){

                                var type = entity.type.split('_')[0]

                                if(tipoDoc.length == 0){
                                    tipoDoc = arrTipoDoc[type]
                                    htmlDataNLU += '<span style="font-weight:bold;font-family:Calibri">Tipo Documento: '+tipoDoc+'</span><br><br>'
                                }
                                
                                var campo = entity.type.split('_')[1]
                                var valor = entity.text

                                htmlDataNLU += '<span>'+campo+' : '+valor+'</span><br>'

                            })

                            html += '<pre>'+htmlDataNLU+'</pre>'

                        }

                        // ### Percorre os dados de Analise ###
                        
                        var htmlDataAnalise = ''

                        htmlDataAnalise += '<span style="font-weight:bold;font-family:Calibri">Regras</span><br><br>'

                        if(analise.dadosAnalise[indexImagem] != undefined){

                            analise.dadosAnalise[indexImagem].forEach(function(regra, indexRegra){

                                var desc = regra.description
                                var status = regra.validated

                                htmlDataAnalise += '<span>'+desc+' : <strong>'+status+'</strong></span><br>'

                            })

                            html += '<pre>'+htmlDataAnalise+'</pre>'

                        }

                        //- html += '<pre>'+JSON.stringify(analise.dadosAnalise[indexImagem], undefined, 2)+'</pre>'

                        html += '</div>'

                    })

                    $('#lista_imagens_analise').html(html)

                })

            })

        })

    div(id="div_analise")
        h3 Analise de Imagems
        div(id='lista_imagens_analise')
