doctype html
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")

    // Alertify
    script(src='//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js')
    link(rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css")
    
    // bootstrap
    link(rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css")

    // Login
    link(rel="stylesheet" href="stylesheets/login.css")
    
    // table2csv
    script(type="text/javascript" src="javascripts/table2csv.js")

    // Full Page
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css")

    // Highcharts
    script(src="https://code.highcharts.com/highcharts.js")
    script(src="https://code.highcharts.com/highcharts-more.js")
    script(src="https://code.highcharts.com/modules/exporting.js")
    script(src="https://code.highcharts.com/highcharts-3d.js")
    
  body
    div(id='app')
      
    block content
