.card-startup-details {
	height: 375px;
	border: 1px solid #cecece;
}

.card-startup-details {
	width: 375px;
	height: auto
}

.card-block {
	padding: 10px;
}

.custom-jumbotron {
	padding: 20px;
	margin-bottom: 0;
}

.social-media {
	display: flex;
	justify-content: space-around;
	align-items: center;
}